
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>404 Page by FreeHTML5.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FreeHTML5.co" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />

  

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
	
	<link rel="stylesheet" href="error/css/bootstrap.min.css">
	<link rel="stylesheet" href="error/css/animate.css">
	<link rel="stylesheet" href="error/css/style.css">


	<!-- Modernizr JS -->
	<script src="error/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="error/js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>


		
		
		<div class="container fh5co-container">

			<div class="row">
				<div class="col-md-12 animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-404-wrap" id="video" data-vide-bg="error/video/Crocodile" data-vide-options="position: 0 50%">
						<div class="overlay"></div>
					</div>
				</div>
				<div class="col-md-12 text-center fh5co-404-text animate-box"  data-animate-effect="fadeIn">
					<h2>Looks like you got lost</h2>
					<!--跳转回上个页面-->
					<p><a href="#" class="btn btn-primary" onclick="javascript:history.back(-1);">Go back</a></p>
				</div>
				<div class="col-md-12 text-center fh5co-copyright animate-box" data-animate-effect="fadeInUp">
					<p><small>&copy; All Rights Reserved. More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></small></p>
				</div>
			</div>
		
		</div>
	
	<!-- jQuery -->
	<script src="error/js/jquery.min.js"></script>
	<!-- Bootstrap -->
	<script src="error/js/bootstrap.min.js"></script>
	<!-- Vide -->
	<script src="error/js/jquery.vide.min.js"></script>
	<!-- Waypoints -->
	<script src="error/js/jquery.waypoints.min.js"></script>
	<!-- Main JS -->
	<script src="error/js/main.js"></script>


	</body>
</html>

